<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1, minimum-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>music-motion</title>
  {{{styleTags}}}
<meta name="apple-mobile-web-app-title" content="Pika" /><meta name="apple-mobile-web-app-capable" content="yes" /><meta name="apple-mobile-web-app-status-bar-style" content="default" /><meta name="theme-color" content="#FEDD27" /><link rel="manifest" href="/public/manifest.3e35884acfa42ca1de0423bc45c14ce2.json" /></head>

<body>
  <div id="root">{{{clientContent}}}</div>
  <div id="modal_root"></div>
  <script>window.__INITIAL_STATE__ = {
      state: {{{ state }}}
  }</script>
  {{{dynamicBundles}}}
<script type="text/javascript" src="/public/client-5272abd82643b5043b1f.js"></script><script type="text/javascript" src="/public/vendors-e139cb0186ccf866cd36.js"></script><script type="text/javascript" src="/public/main-839250df8e757ca9e725.js"></script></body>

</html>