<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <link rel="preconnect" href="https://111.229.9.30">
  <meta name="viewport"
    content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1, minimum-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>music-motion</title>
  {{{styleTags}}}
</head>

<body>
  <div id="root">{{{clientContent}}}</div>
  <div id="modal_root"></div>
  <textarea id="data-context" style="display: none;">
    {{{ state }}}
  </textarea>
</body>

</html>